table {
    width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
}
th, td {
    width: 250px;
    border: 1px solid #444444;
    table-layout: fixed;
    word-break:break-all;
    height:auto;
    text-align: center;
}
#introduction-text{
    color: rebeccapurple;
    font-size: 20px;
}
.introduction{
    background-color: powderblue;
}
